<h1 id="counterstock" class="classfont">COUNTER STOCK</h1>
{{!-- <div id="dollarsignbutton"> </div> --}}
<a href="/index" id="dollarsignbutton"></a>
<h3 id="quote" class="classfont">WHATEVER IT TAKES</h3>